<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button detail (click)="goToUserDetails()">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Leanne Graham</ion-label>
    </ion-item>
  
    <ion-item button detail>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Leanne Graham</ion-label>
    </ion-item>
  
    <ion-item button detail>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Leanne Graham</ion-label>
    </ion-item>
  
    <ion-item button detail>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Leanne Graham</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
