<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>About RealApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-label>This is an Test App made by Ivan Cepeda</ion-label>
  </ion-item>
  <section>    
    <h6>Features you can find</h6>
    <ul>
      <li>Two tabs App</li>
      <li>Fetching Data from a fake API</li>
      <li>Pull to refresh</li>
      <li>Passing data between pages</li>
      <li>Showing details in a readonly form</li>
      <li>Using Geo to locate position on GoogleMaps</li>
    </ul>
  </section>
  <ion-item lines="none">
    <ion-label>You can check the full code on <a href='https://github.com/icepeda/real-app'>github</a></ion-label>
  </ion-item>
  
</ion-content>
