<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="ion-text-center" lines="none">
    <ion-label>{{user.name}}</ion-label>
  </ion-item>

  <div class="form">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input readonly>{{user.username}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input readonly>{{user.email}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input readonly>{{user.address.street}}</ion-input>
      <ion-input readonly>{{user.address.suite}}</ion-input>
      <ion-input readonly>{{user.address.city}}</ion-input>
      <ion-input readonly>{{user.address.zipcode}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input readonly>{{user.phone}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Website</ion-label>
      <ion-input readonly>{{user.company.name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Company</ion-label>
      <ion-input readonly>{{user.company.catchPhrase}}</ion-input>
      <ion-input readonly>{{user.company.bs}}</ion-input>
    </ion-item>
  </div>

</ion-content>
