

.form ion-item{
    --background: var(--custom-ion-icon-color);;
    border-radius: 20px;
    margin: 20px;

    ion-label{
        color: #EE2990;
    }

    ion-input{
        color: #000000;
    }
}


#map {
    width: 100%;
    height: 36vh;
    margin-bottom: 20px;
    border-radius: 10px;
}